* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background: #f5fcff;
}
header {
  background: #cfd8dc;
}
.desktop-nav-bar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 1rem 2rem;
  background: #cfd8dc;
}
.router a:hover {
  cursor: pointer;
}

.desktop-nav-bar ul {
  text-align: center;
  justify-content: center;
  list-style: none;
  display: flex;
}
.desktop-nav-bar ul li {
  margin: 0.5rem 1.5rem;
}

.desktop-nav-bar a {
  text-decoration: none;
  color: black;
}
.desktop-nav-bar a:hover {
  text-decoration: none;
  color: blue;
}
.logo {
  height: 3rem;
  display: flex;
  margin: 1rem 1rem;
}
.links {
  display: flex;
}
.linkD {
  height: 3rem;
  margin: 1rem 1rem;
}
.gitH {
  height: 3rem;
  margin: 1rem 1rem;
}

.footer p {
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  background: #f5fcff;
}
.title {
  font-size: 2rem;
  text-align: center;
}
.section_text {
  text-align: center;
  justify-content: space-between;
  background: #f5fcff;
}
.section_text p {
  font-weight: 600;
}
.section_text_p1 {
  text-align: center;
}
.section_text_p2 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}
.about-pic {
  justify-content: center;
  height: auto;
  width: auto;
  border-radius: 3rem;
}
.about-containers {
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 2rem;
}
.about-containers,
.about-detail-container {
  display: flex;
}
.about-detail-container {
  flex-direction: column;
  justify-content: center;
}
.details-container {
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 2rem;
  border: gray 0.05rem solid;
  border-color: black;
  flex: 0.5;
  text-align: center;
}
.icon {
  cursor: pointer;
  height: 2rem;
  margin: 0.25rem;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.button {
  font-weight: 500;
  padding: 1rem;
  transition: all 400ms ease;
  width: 10rem;
  border-radius: 2rem;
  /*makes border rounded */
}
.btn-color-1 {
  border: rgb(54, 54, 54) 0.1 solid;
}
.btn-color-1:hover {
  cursor: pointer;
  background: rgb(54, 54, 54);
  color: white;
}
.projects-home {
  text-align: center;
  margin: 3rem;
}

.projects-home h1 {
  margin: 0;
  padding: 1rem;
}
.contact-Home {
  width: 60%;
  margin: 1rem auto;
}
.contact-box {
  background: rgb(198, 197, 204);
  background: linear-gradient(
    90deg,
    rgba(198, 197, 204, 1) 0%,
    rgba(194, 194, 207, 1) 37%,
    rgba(123, 127, 128, 1) 100%
  );
  display: flex;
  justify-content: space-between;
}

.contact-left {
  flex: 1;
  padding: 40px 60px;
}
.contact-right {
  flex: 1;
  padding: 40px 60px;
}
.contact-right h3 {
  text-align: center;
  text-decoration: underline;
  display: flex;
}
.contact-left h3 {
  text-align: center;
  text-decoration: underline;
  display: flex;
}
.contact-box label {
  display: flex;
}

@media screen and (max-width: 1050px) {
  .contact-box {
    flex-direction: column;
  }

  .contact-right {
    margin-top: 20px;
  }

  .contact-left,
  .contact-right {
    width: 100%;
  }

  .form-control {
    width: 100%;
  }
}
